@page "/Login"

<PageTitle>Login</PageTitle>

@* <form action="/url" method="post"> *@
<form>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    @* <div class="form-group">
        <label class="form-check-label"><input type="checkbox"> Remember me</label>
    </div> *@
    <div class="row mb-4"></div>
    <button type="submit" class="btn btn-primary">Sign in</button>
    <div class="row mb-4"></div>
</form>
<div>
    <span class="text-nowrap">
        Or
        <a target="_blank" class="font-weight-bold link-dark" href="Register">Register Here</a>
    </span>
    if you don't have an account.
</div>