@page "/NotifyWatchlist"

<PageTitle>NotifyWatchlist</PageTitle>

<div class="container">

  <div class="row mx-md-n5">
    <div class="col px-md-5">
        <div class="p-3 border bg-light">Notify when back in stock</div>
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio <button type="button" class="btn btn-danger btn-sm" style="float:right">Remove</button> </li> 
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>

    <div class="col px-md-5">
        <div class="p-3 border bg-light">Notify when price decrease</div>
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio  <button type="button" class="btn btn-danger btn-sm" style="float:right">Remove</button> </li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
  </div>

</div>