@page "/ProductCart"

<PageTitle>ProductCart</PageTitle>

<div class="container">
    <div class="row mx-md-n5" style="text-align: center; font-weight: bold;">
         <h1> ProductCart</h1>
    </div>
   

  <div class="row mx-md-n5">
    <div class="col px-md-5" style="font-weight: bold;">
        @* <div class="p-3 border bg-light">Name</div> *@
        Name
    </div>

    <div class="col px-md-5" style="font-weight: bold;">
        @* <div class="p-3 border bg-light">Quantity</div> *@
        Quantity
    </div>

    <div class="col px-md-5" style="font-weight: bold;">
        @* <div class="p-3 border bg-light">Remove</div> *@
        Remove
    </div>

    <div class="col px-md-5" style="font-weight: bold;">
        @* <div class="p-3 border bg-light">Price</div> *@
        Price
    </div>
  </div>

    <div class="row mx-md-n5">
        <div class="col px-md-5">
            @* <div class="p-3 border bg-light">Name</div> *@
            The Hobbit
        </div>

        <div class="col px-md-5">
            @* <div class="p-3 border bg-light">Quantity</div> *@
            2
        </div>

        <div class="col px-md-5">
            @* <div class="p-3 border bg-light">Remove</div> *@
            <button type="button" class="btn btn-danger btn-sm">Remove</button>
        </div>

        <div class="col px-md-5">
            @* <div class="p-3 border bg-light">Price</div> *@
            20.99
        </div>
    </div>

    

    @* <div class="row mx-md-n5">
        <div class="w-100 d-none d-md-block"></div>
    </div> *@

    <div class="row mx-md-n5" style="justify-content: right;">
 
        <div class="col"></div>
        <div class="col order-12">
            <strong> Subtotal: </strong>
       41.98
        </div>
        <div class="col order-1">
            <strong> Total: </strong>
         41.98
        </div>
    </div>

    <div class="row mx-md-n5" style="text-align: center;">
        <div class="col">
            <button type="button" class="btn btn-primary btn-me">Checkout</button>
        </div>
        
    </div>

</div>