@* <nav class="flex-row">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Menu1
        </NavLink>

         <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Menu2
        </NavLink>
    </div>

    @* <div class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Menu2
        </NavLink>
    </div> 

</nav> *@


<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  @* <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> *@
  @* <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> *@
    @* <div class="navbar-nav"> *@
      @* <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a> *@
       <NavLink class="nav-link" href="NotifyWatchlist">
            <span class="oi oi-list" aria-hidden="true"></span> Watchlist
        </NavLink>

         <NavLink class="nav-link" href="ProductCart">
            <span class="oi oi-cart" aria-hidden="true"></span> Cart
        </NavLink>
    @* </div> *@
  @* </div> *@
</nav>